* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
}

.App-header {
  background-color: #222;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-intro {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 0 20px;
}

.demo-wrapper {
  width: 100%;
  padding-right: 20px;
  height: 80%;
}

.suggestion-block {
  width: 40%;
  border: 1px solid black;
  position: relative;
  height: 100%;
}

.suggestion-single {
  width: 100%;
  border-bottom: 1px solid black;
  position: relative;
  display: flex;
  padding: 15px 0;
  justify-content: center;
  align-items: center;

  transition: height .1s ease-in, opacity .1s ease-in;
}

.rdw-editor-main {
  border: 1px solid green;
  height: 80% !important;
  padding-left: 20px;
}

.suggestion-top {
}

.suggestion-mid {
}

.suggestion-bottom {
}

.suggestion-button-expand {
  position: absolute;
  bottom: 0;
  right: 0;
}

.suggestion-block-multiple .suggestion-button-clear,
.suggestion-block-single .suggestion-button-expand {
  display: none;
}

.suggestion-button-clear {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.normal-size {
  height: auto;
}

.full-size {
  height: 97%;
}

.hidden {
  height: 0;
  opacity: 0;
}

.ytiframe {
  width: 500px;
  height: 200px;
}

.ytcontainer {
  padding: 0 20px;
}