* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #222;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-intro {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-main {
  display: flex;
  height: 80vh;
}

.demo-wrapper {
  width: 60%;
  padding: 0 20px;
}

.suggestion-block {
  padding: 0 20px;
  width: 40%;
  background: black;
}